/*

font-face

*/



.map-container{float:left;width:100%;height:465px;}

.map-container .left-pane{float:left;width:75%;background:#FFF;height:465px; overflow:hidden; padding-top: 20px; }

.map-container .right-pane{float:right;width:25%; background:#FFF; height:auto; position:relative; padding:30px 30px 0 0; }

.map{float:left;width:100%;position:relative;height:100%;}

.continents{float:left;margin:27px 8px 27px 40px;position:relative;width:697px;height:366px; background:url(../images/nbk/nbk/common/image/background/background.png) no-repeat;}

.continents > div{transition-duration:0.6s; -webkit-transition-duration: 0.6s;cursor:pointer;}

.continents > .australia,

.continents > .africa{cursor:default;}

.countries > div{position:relative;}

.continents .americas{position:absolute;top:0;left:0;background:url(../images/nbk/nbk/common/image/map/america-normal.png) 0 0 no-repeat;width:324px;height:368px;}

.continents .americas.active,

.continents .americas:hover{background:url(../images/nbk/nbk/common/image/map/America-hover.png) 0 0 no-repeat;}

.countries{width:760px;background:#FFF;position:absolute;z-index:2;}

.countries .americas{text-align:center;float:left;width:100%;padding:27px 0;display:none;}

.continents .europe{position:absolute;top:3px;left:293px;background:url(../images/nbk/nbk/common/image/map/europe-normal.png) 0 0 no-repeat;width:172px;height:116px; z-index:1;}

.continents .europe.active,

.continents .europe:hover{background:url(../images/nbk/nbk/common/image/map/europe-hover.png) 0 0 no-repeat;}

.countries .europe{text-align:center;float:left;width:100%;padding:10px 0 0 0;display:none;}

.continents .mena{position:absolute;top:106px;left:291px;background:url(../images/nbk/nbk/common/image/map/mena-normal.png) 0 0 no-repeat;width:189px;height:99px;z-index:2;}

.continents .mena.active,

.continents .mena:hover{background:url(../images/nbk/nbk/common/image/map/mena-hover.png) 0 0 no-repeat;}

.countries .mena{text-align:center;float:left;width:100%;padding:80px 0;display:none;}

.continents .africa{position:absolute;top:138px;left:266px;z-index:1;}

.continents .australia{position:absolute;bottom:27px;right:0;z-index:1;}

.continents .asia{position:absolute;top:4px;right:12px;background:url(../images/nbk/nbk/common/image/map/asia-normal.png) 0 0 no-repeat;width:295px;height:240px;}

.continents .asia.active,

.continents .asia:hover{background:url(../images/nbk/nbk/common/image/map/asia-hover.png) 0 0 no-repeat;}

.countries .asia{text-align:center;float:left;width:100%;padding:15px 0 0 0;display:none;}

.countries .newyork{position:absolute;top:120px;left:322px;}

.pulse{position:relative;padding:0;float:left;width:44px;height:35px;margin:2px;cursor:pointer;}

.pulse img{position:absolute;z-index:1;top:50%; left:50%; -webkit-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);}

.countries .unitedkingdom{position:absolute;top:185px;left:225px;}

.countries .france{position:absolute;top:240px;left:245px;}

.countries .geneva{position:absolute;top:245px;left:340px;}

.countries .turkey{position:absolute;bottom:32px;left:418px;}

.countries .china{position:absolute;bottom:150px;left:480px;}

.countries .singapore{position:absolute;bottom:100px;left:455px;}

.countries .vietnam{position:absolute;bottom:34px;left:415px;}

.countries .egypt{position:absolute;top:140px;left:430px;}

.countries .jordan{position:absolute;top:145px;left:480px;}

.countries .lebanon{position:absolute;top:110px;left:480px;}

.countries .iraq{position:absolute;top:110px;left:530px;}

.countries .kuwait{position:absolute;top:160px;left:570px;}

.countries .bahrain{position:absolute;top:185px;left:585px;}

.countries .qatar{position:absolute;top:190px;left:590px;}

.countries .uae{position:absolute;top:190px;left:643px;}

.countries .saudia{position:absolute;top:230px;left:555px;}

.tool-tip{position:relative;top:-15px;left:-50px;background:#fff;padding:5px;border:1px solid;display:none;z-index:9;}

.circle {width: 16px;height: 16px;margin-top: 0px;margin-left: 0px;border: 1px solid #cc092f;-webkit-border-radius: 300px;-moz-border-radius: 300px;border-radius: 300px;display:none;opacity: 1;position: absolute;top: -1px;left: -1px;z-index: 1;}

.singapore .tool-tip{left:-75px;}

.vietnam .tool-tip,

.geneva .tool-tip,

.turkey .tool-tip,

.france .tool-tip{left:-65px;}

.country-map{background:#FFF;position:absolute;left:0;width:839px;height:445px;padding:5px 0;top:0;display:none;z-index:99;}

.country-map.uk{display:none;}

.country-map.uk img{padding-top:2px;}

.country-map img{padding-top:15px;}

.country-map .tool-tip{display:block;width:auto;max-width:80px;position:absolute;top:auto;bottom:auto;left:auto;right:auto;}

.country-map .pulse{position:absolute;padding:0;top:auto;bottom:auto;left:auto;right:auto;}

/* new york */

.usa .tool-tip{top:95px;left:auto;right:112px;}

.usa .pulse{top:60px;right:150px;padding:0;}

/* united kingdom */

.uk .tool-tip{bottom:65px;right:262px;}

.uk .pulse{bottom:95px;right:285px;padding:0;}

/* france */

.fr .tool-tip{top:115px;left:387px;}

.fr .pulse{top:100px;left:420px;padding:0;}

/* switzerland */

.ch .tool-tip{bottom:185px;left:150px;}

.ch .pulse{bottom:180px;left:130px;padding:0;}

/* turkey */

.country-map.tr img{padding-top:50px;}

.tr .tool-tip{top:55px;left:130px;}

.tr .pulse{top:30px;left:200px;padding:0;}

/* egypt */

.eg .tool-tip{top:75px;right:340px;}

.eg .pulse{top:40px;right:380px;padding:0;}

/* jordan */

.jo .tool-tip{top:90px;left:255px;}

.jo .pulse{top:80px;left:310px;padding:0;}

/* lebanon */

.country-map.lb img{padding-top:0px;}

.lb .tool-tip{top:195px;left:320px;}

.lb .pulse{top:140px;left:370px;padding:0;}

/* iraq */

.iq .tool-tip{top:220px;right:348px;}

.iq .pulse{top:200px;right:400px;padding:0;}

/* kuwait */

.kw .tool-tip{top:140px;right:285px;}

.kw .pulse {padding: 0;right: 275px;top: 160px;}

/* kuwait */

.country-map.bh img{padding-top:0px;}

.bh .tool-tip{top:52px;right:335px;}

.bh .pulse{right: 365px;top: 45px;padding:0;}

/* kuwait */

.qa .tool-tip{bottom:150px;right:280px;}

.qa .pulse{bottom:170px;right:260px;padding:0;}

/* uae */

/**dubai**/

.ae .tool-tip.dxb{top:85px;right:185px;}

.ae .pulse.dxb{top:35px;right:230px;padding:0;}

/**abudhabi**/

.ae.ad .tool-tip.ad{bottom:178px;right:308px;}

.ae.ad .pulse.ad{top:153px;right:360px;padding:0;}

/* ksa */

.country-map.ksa img{padding-top:0px;}

.ksa .tool-tip{bottom:165px;left:245px;}

.ksa .pulse{bottom:210px;left:320px;padding:0;}

/* china */

.country-map.cn img{padding-top:5px;}

.cn .tool-tip{bottom:105px;right:180px;}

.cn .pulse{bottom:135px;right:170px;padding:0;}

/* singapore */

.sg .tool-tip{top:175px;right:250px;}

.sg .pulse{top:160px;right:230px;padding:0;}

/* china */

.country-map.vn img{padding-top:10px;}

.vn .tool-tip{bottom:40px;right:210px;}

.vn .pulse{bottom:85px;right:296px;padding:0;}

/**



pulse 





**/

.pulse img

.pulse.two img { 

    position:absolute; 

    top:50%; left:50%; 

    z-index:1; 

    -webkit-transform:translateX(-50%) translateY(-50%);

    transform:translateX(-50%) translateY(-50%);

}

 

@-webkit-keyframes pulsate {

    0%,100% {

        width:10px;

        height:10px;

        opacity:0;

    }

    1% { opacity:1; }

    70% {

        opacity:0.5;

    }

    99.999% {

        width:20px;

        height:20px;

        opacity:0;

    }

}

@keyframes pulsate {

    0%,100% {

        width:15px;

        height:15px;

        opacity:0;

    }

    1% { opacity:1; }

    70% {

        opacity:0.5;

    }

    99.999% {

        width:20px;

        height:20px;

        opacity:0;

    }

}



/*rightpanel*/

.right-pane{min-height:465px;}

.right-pane *{font-size:14px;font-weight:normal;}

.right-pane ul{float:right;width:100%;padding:5px 1%;border:1px solid #98c0e6; border-radius:5px; list-style:none;}

.right-pane ul li{float:left;width:100%;padding:10px 15px;border-bottom:1px solid #98c0e6; color:#094d8c; font-family: "dax-regularregular"; }

.right-pane ul li:nth-child(4){ border-bottom:0px;}

.right-pane ul li span{ float:left;width:100%;cursor:pointer; font-size:18px; }

.right-pane ul li ul.subnav{float:left;padding:5px 2% 0 2%;border:0;width:96%;display:none;}

.right-pane ul li ul.subnav li{ background:url(../images/nbk/nbk/common/image/map/map-check-box.png) no-repeat center left; border:0; border-bottom:#dbdcdc solid 1px; clear: both; color: #494949; cursor: pointer;    font-size: 14px;    padding: 5px 0 5px 23px;    width: 100%; }

.right-pane ul li ul.subnav li:last-child { border-bottom:0; }

.details {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #98c0e6;
    border-radius: 5px;
    height: 427px;
    left: 0;
    margin-top: 0;
    min-height: auto;
    overflow-x: auto;
    padding: 0;
    position: absolute;
    top: 29px;
    width: 232px;
}

.details{display:none;}

.details h6{float:left;width:100%; font-size:16px; color:#0d498a; margin-bottom: 20px;}

.details .location-discription { margin-bottom:15px; line-height: 20px; }

.details p {    color: #494949;    float: left;    font-size: 14px;    margin-bottom: 0; width: 100%; }

.details p a {

    border-top: 1px solid;

    color: #8cb7df;

    float: left;

    font-family: "dax-regularregular";

    font-size: 14px;

    margin-bottom: 5px;

    margin-top: 15px;

    padding-top: 5px;

    width: 100%;

}

.details p.ext-links{padding:10px 0 0 0;}

.details p.ext-links a{color:#003366;font-size:12px;}

.right-pane ul li ul.subnav li:hover, .right-pane ul li span:hover, .right-pane ul li span.active {

    color: #0e4c8c;

}

.back-btn {

	background:url(../images/nbk/nbk/common/image/map/left-arrow.png) no-repeat 25px center #f3f8fc;

    border-bottom: 1px solid #97bfe3;

    border-radius: 5px 5px 0 0;

    border-top: 1px solid #fff;

    bottom: 0;

    color: #494949;

    cursor: pointer;

    float: left;

    font-size: 14px;

    left: 0;

    padding: 5px 20px 5px 45px;

    width: 100%;

}

.desc{float:left; padding:15px 15px 0 15px;}

.details .desc:nth-child(2){border-top:1px solid #fff;padding:15px 15px 0 15px;}



.map .tool-tip { display: none !important; }



@media (max-width: 767px) {

	.sg .pulse {padding: 0;right: 70px;top: 50px;}

	.cn .pulse {bottom: 321px;padding: 0;right: 36px;}

	.countries .singapore {bottom: 54px;left: 177px;position: absolute;}

	.countries .china {bottom: 84px;left: 190px;position: absolute;}

	.usa .pulse {padding: 0;right: -16px;top: 24px;}

	.countries .newyork {left: 86px;position: absolute;top: 107px;}

	.details h6{margin-bottom: 0px;}

	.ch .pulse {bottom: 310px;left: 0;padding: 0;}

	.tr .pulse {left: 18px;padding: 0;top: 15px;}

	.fr .pulse {left: 130px;padding: 0;top: 80px;}

	.uk .pulse {bottom: 38px;padding: 0;right: -5px;}

	.countries .turkey {bottom: 32px;left: 155px;position: absolute;}

	.countries .geneva {left: 114px;position: absolute;top: 123px;}

	.countries .france {left: 65px;position: absolute;top: 125px;}

	.countries .unitedkingdom {left: 48px;position: absolute;top: 90px;}

	.pulse img{width: 35px !important;}

	.countries .saudia {left: 196px;position: absolute;top: 132px;}

	.countries .uae {left: 242px;position: absolute;top: 107px;}

	.countries .bahrain {left: 218px;position: absolute;top: 135px;}

	.countries .kuwait {left: 205px;position: absolute;top: 109px;}

	.countries .iraq {left: 210px;position: absolute;top: 66px;}

	.countries .lebanon {left: 180px;position: absolute;top: 66px;}

	.countries .jordan {left: 180px;position: absolute;top: 95px;}

	.countries .egypt {left: 140px;position: absolute;top: 91px;}

	.ksa .pulse {bottom: 275px;left: 70px;padding: 0;}

	.ae .pulse.dxb {padding: 0;right: 12px;top: 19px;}

	.ae.ad .pulse.ad {padding: 0;right: 90px;top: 87px;}

	.eg .pulse {padding: 0;right: 110px;top: 27px}

	.lb .pulse {left: 90px;padding: 0;top: 140px;}

	.bh .pulse {padding: 0;right: 85px;top: 65px;}

	.iq .pulse {padding: 0;right: 120px;top: 140px;}

	.jo .pulse {left: 50px;padding: 0;top: 66px;}

	.kw .pulse {padding: 0;right: 30px;top: 110px;}

	.map-container .right-pane{ width:100%; padding:20px; height:auto !important; min-height: auto; }

	.map-container .left-pane{ width:100%;}

    .Body.Network { text-align: center;}

    .Body.Network .left-pane { display: inline-block; width: 280px; float: none; }

    .map-container { background: #fff; height: auto; }

    .map .continents .americas { width: 129px; height: 160px; }

    .map .continents .asia { height: 120px; right: 4px; top: 1px; width: 120px; }

    .map .continents .mena { height: 39px; left: 117px; top: 43px; width: 75px; }

    .map .continents .europe { left: 118px;  top: 1px; width: 69px; height: 50px;  }

    .map div.Body { border: 0; }

    .network-map div.Network { border: 0; }

    .network-map .post-item { padding: 0; }

    .map-container .left-pane { padding-top: 10px; }

    .map-container .right-pane { padding: 0; }

    .right-pane ul li ul.subnav li { text-align: left; }

    

    .map .countries { width: 100%; margin: 0; }

    .map .countries img { width: 100%; }

    .Network .details { float: left; width: 100%; text-align: left; top: 0; left: 0; }

    .map .country-map { width: 100%; }

    

    .map-container .left-pane { height: 210px; }

    .details { height: 229px; min-height: auto; overflow-x: auto; }

    

}



@media (min-width: 768px) and (max-width: 991px) {

	.kw .pulse {padding: 0;right: 108px;top: 80px;}

     .jo .pulse {left: 120px;padding: 0;top: 40px;}

     .iq .pulse {padding: 0;right: 170px;top: 90px;}

     .bh .pulse {padding: 0;right: 144px;top: 45px;}

     .lb .pulse {left: 150px;padding: 0;top: 90px;}

     .eg .pulse {padding: 0;right: 160px;top: 20px;}

     .ae.ad .pulse.ad {padding: 0;right: 150px;top: 58px;}

     .ae .pulse.dxb {padding: 0;right: 89px;top: 10px;}

     .ksa .pulse {bottom: 320px;left: 130px;padding: 0;}

     .uk .pulse {bottom: 235px;padding: 0;right: 105px;}

     .fr .pulse {left: 180px;padding: 0;top: 60px;}

     .tr .pulse {left: 100px;padding: 0;top: 13px;}

     .ch .pulse {bottom: 346px;left: 90px;padding: 0;}

     .countries .newyork {left: 145px;position: absolute;top: 74px;}

     .usa .pulse {padding: 0;right: 80px;top: 15px;}

     .countries .china {bottom: 100px;left: 220px;position: absolute;}

     .countries .singapore {bottom: 80px;left: 205px;position: absolute;}

     .cn .pulse {bottom: 349px;padding: 0;right: 114px;}

     .sg .pulse {padding: 0;right: 130px;top: 30px;}

	.countries .unitedkingdom {left: 120px;position: absolute;top: 127px; }

	.ukz {width: 36% !important;}

	.countries .turkey {bottom: 85px;left: 192px;position: absolute;}

	.countries .geneva {left: 160px;position: absolute;top: 158px;}

	.countries .france {left: 125px;position: absolute;top: 161px;}

	.countries .saudia {left: 250px;position: absolute;top: 141px;}

	.countries .uae {left: 283px;position: absolute;top: 110px;}

	.countries .bahrain {left: 260px;position: absolute;top: 115px;}

	.countries .kuwait {left: 250px;position: absolute;top: 100px;}

	.countries .iraq {left: 250px;position: absolute;top: 74px;}

	.countries .lebanon {left: 220px;position: absolute;top: 72px;}

	.map .countries .egypt {left: 200px;top: 90px;}

	.main-imgz {width: 70% !important;}

	.map .countries img {width: 50%;}

    .map-container .left-pane { width: 60%; height: 265px; }

    .map-container .right-pane { width: 40%; min-height: 265px; }

    .pulse img { width: 60% !important; }

    .map .continents .americas { width: 177px; height: 210px; }

    .map .continents .asia { right: 7px; top: 2px; width: 160px; padding: 45px 0 !important; }

    .map .continents .europe { height: 67px; left: 159px; top: 1px; width: 97px; }

    .map .continents .mena { height: 99px; left: 160px; top: 57px; width: 103px; }

    .map .countries { margin: 0; width: 100%; }

    .map .countries img { width: 50%; }

    .map .country-map { width: 100%; }

    .countries .asia { padding: 45px 0; }

    .map .countries .jordan {left: 220px;top: 92px;}

    .map .countries .europe { padding: 90px 0; }

    .map-container { height: 265px; } 

    .map .uk .pulse { bottom: 275px; padding: 0; right: 200px;  }

    

    .right-pane ul li ul.subnav { height: 62px; overflow-y: auto; width: 96%; }

    .details { height: 230px; min-height: auto !important; overflow-x: auto;}

    

    .Network .details {  height: 230px; overflow-x: auto;  }

}





@media (min-width: 992px) and (max-width: 1099px) { 



    .details { width: 196px; min-height: 422px; }    





}



@media (max-width: 1099px) {





    .continents { background-size: 100% auto; margin-left: 0; margin-right: 0; width: 100%; }

    .continents .asia {

    background: rgba(0, 0, 0, 0) url("../images/nbk/nbk/common/image/map/asia-normal.png") no-repeat scroll 0 0 / 100% auto; height: 240px; position: absolute; right: 11px; top: 3px; width: 287px; }

    .continents .asia.active, .continents .asia:hover { background-size: 100% auto; }

    .continents .europe {

    background: rgba(0, 0, 0, 0) url("../images/nbk/nbk/common/image/map/europe-normal.png") no-repeat scroll 0 0 / 100% auto; left: 283px; position: absolute; top: 2px; width: 168px; }

    .continents .europe.active, .continents .europe:hover { background-size: 100% auto; }

    .continents .mena {  background: rgba(0, 0, 0, 0) url("../images/nbk/nbk/common/image/map/mena-normal.png") no-repeat scroll 0 0 / 100% auto; height: 99px;left: 282px; top: 102px; width: 184px; }

    

    .continents .mena.active, .continents .mena:hover { background-size: 100% auto; }

    .continents .americas { width: 314px; background-size: 100% auto; }

    .continents .americas.active, .continents .americas:hover {  background-size: 100% auto; }

    .countries { margin-left: -40px; width: 112%; }

}

.left-pane .countries .europe{
    min-height: 400px;
}