.nbk-rewards-wrap {
    background: #f1f1f1;
    padding-bottom: 60px;
}

.nbk-rewards-top {
    background: #f1f1f1;
}

.nbk-rewards-top .rewards-top-wrap {
    display: flex;
    justify-content: center;
}

.nbk-rewards-filters {
    background: #fff;
    padding-top: 20px;
    padding-bottom: 10px;
}

.nbk-rewards-top .search-form .search-input {
    width: 600px;
}

.accordion-rewards-sidebar .search-form .search-input::placeholder,
.nbk-rewards-filters .search-form .search-input::placeholder {
    opacity: 0.5;
    color: #333;
}

.nbk-rewards-top .wish-list {
    padding-top: 22px;
    padding-bottom: 22px;
    margin-right: 0;
}

.rewards-main .selectz {
    padding-top: 0;
    padding-bottom: 0px;
    width: 100%;
}

.rewards-main .search-form.small,
.rewards-main .search-form .search-input {
    width: 100% !important;
}

.rewards-main .search-form .search-input {
    height: 25px;
    font-size: 14px;
}

.rewards-main .search-form.small button{
    height: 25px;
    top: 0;
}

.container-rewards {
    max-width: 1100px !important;
}

.rewards-sidebar {
    padding-top: 10px;
}

.accordion-rewards-sidebar + .accordion-rewards-sidebar {
    margin-top: 30px;
}

.accordion-rewards-sidebar .accordion-item {
    border: none;
    background-color: transparent;
}

.accordion-rewards-sidebar .accordion-button {
    box-shadow: none;
    background: #0e4c8c;
    border-radius: 0 !important;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.accordion-rewards-sidebar .accordion-button:after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23CCCDCF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-rewards-sidebar .accordion-button img,
.accordion-rewards-sidebar .accordion-button svg {
    margin-right: 10px;
}

.rewards-checkbox-list .form-check {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
}

.rewards-checkbox-list .form-check:last-child {
    margin-bottom: 0;
}

.rewards-checkbox-list .form-check-label {
    font-size: 16px;
    font-weight: 500;
}

.rewards-checkbox-list [type="checkbox"]:not(:checked) + label,
.rewards-checkbox-list [type="checkbox"]:checked + label {
    padding-left: 24px;
}

.rewards-checkbox-list [type="checkbox"]:not(:checked) + label:before,
.rewards-checkbox-list [type="checkbox"]:checked + label:before {
    top: 2px !important;
    height: 14px;
    width: 14px;
    background-color: transparent;
    border-color: #0e4c8c;
    border-radius: 3px;
}

.rewards-checkbox-list [type="checkbox"]:checked + label::after {
    top: 5px;
}

.rewards-checkbox-list.brands-scroll {
    margin-right: -20px;
}

.accordion-rewards-sidebar .search-form {
    margin-bottom: 20px;
    margin-left: -20px;
    float: none;
    margin-right: -20px;
    width: inherit !important;
    margin-top: 18px !important;
}

.accordion-rewards-sidebar .search-form .search-input {
    width: 100%;
    padding-right: 10px;
    color: #333;
}

.accordion-rewards-sidebar .accordion-body-scroll .search-form {
    margin-right: 0px;
    margin-left: 0px;
}

.rewards-main .row {
    margin-right: -8px;
    margin-left: -8px;
}

.rewards-main .row div[class*="col"] {
    padding-left: 8px;
    padding-right: 8px;
}

.rewards-main .compare-cards {
    float: right;
    padding-top: 0;
    background: transparent;
    padding-bottom: 0;
}

.rewards-main .compare-cards .dk_container {
    height: 25px;
}

.rewards-main .compare-cards .dk_toggle.dk_label {
    width: 140px !important;
    height: 25px;
    background: rgba(0, 0, 0, 0) url(https://www.nbk.com/.resources/nbk-theme/images/rewardsv2/down-arrow-new-v2.svg) no-repeat scroll right center;
    color: #0e4c8c;
}

.rewards-main .showing-text {
    font-weight: 500;
    color: #333;
    font-family: "dax-mediumregular";
    margin-bottom: 10px;
}

.rewards-box-wrap.fav-posts {
    margin: 0;
    float: none;
}

.rewards-box-wrap.fav-posts .top-img-sec {
    min-height: inherit;
}

.rewards-box-wrap.fav-posts .fav-content-area {
    padding: 30px 10px 20px;
}

.rewards-box-wrap.fav-posts .fav-content-area h3 {
    text-transform: uppercase;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rewards-box-wrap.fav-posts .fav-content-area > span {
    color: #144e8b;
}

.rewards-box-wrap.fav-posts div[class*="col"] {
    margin-bottom: 10px;
    margin-top: 10px;
}

.rewards-selected-list {
    /* margin-bottom: 20px; */
}

.rewards-selected-list .all-offers {
    margin-right: 15px;
    padding: 5px 15px 5px 15px;
}

.rewards-selected-list .rewards-selected {
    position: relative;
    border-radius: 6px;
    border: 1px solid #0e4c8c;
    color: #0e4c8c;
    font-size: 15px;
    display: inline-block;
    padding: 5px 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.rewards-selected-list .rewards-selected .btn-remove {
    position: absolute;
    top: -8px;
    right: -8px;
    height: 16px;
    width: 16px;
    line-height: 14px;
}

.offcanvas-rewards.show {
    z-index: 9999999999;
}

.offcanvas-rewards .offcanvas-title {
    width: 100%;
    text-align: center;
    font-family: "dax-boldregular";
    font-size: 19px;
    color: #134e8a;
}

.offcanvas-rewards .btn-close {
    opacity: 1;
}

.offcanvas-rewards .offcanvas-header {
    background: #fff;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.16);
    padding-top: 7px;
    padding-bottom: 7px;
}

.rewards-brands-btn-group {
    /*display: none;*/
    flex-wrap: nowrap;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    margin-left: -20px;
    margin-right: -20px;
    /*margin-bottom: 18px;*/
    overflow-x: auto;
}

.rewards-brands-btn-group .btn {
    padding: 8px 20px 8px 20px;
    border-bottom: 1px solid transparent;
    font-size: 14px;
    color: #333;
}

.rewards-brands-btn-group .btn.active {
    border-bottom-color: #000;
}

.accordion-rewards-sidebar .mCustomScrollbar.accordion-body {
    padding-right: 0;
    scrollbar-color: #ff0000 #808080;
}

.accordion-rewards-sidebar .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #cf1f39 !important;
}

@media (min-width: 768px) {
    .offcanvas-rewards {
        position: static;
        z-index: auto;
        flex-grow: 1;
        width: auto !important;
        height: auto !important;
        visibility: visible !important;
        background-color: transparent !important;
        border: 0 !important;
        transform: none !important;
        transition: none;
    }

    .offcanvas-rewards .offcanvas-header {
        display: none;
    }

    .offcanvas-rewards .offcanvas-body {
        padding: 0;
    }

    .mobile-floating {
        display: none;
    }

    .rewards-brands-btn-slider {
        overflow-x: auto;
    }

    .rewards-brands-btn-slider::-webkit-scrollbar {
        width: 10px;
        height: 5px;
    }

    .rewards-brands-btn-slider::-webkit-scrollbar-thumb {
        background-color: #888 !important;
        border-radius: 5px;
    }

}

@media (max-width: 1024px) {
    .nbk-rewards-top .search-form .search-input {
        width: 500px !important;
    }
}

@media (max-width: 992px) {
    .rewards-brands-btn-group {
        display: flex;
    }
}

@media (max-width: 767px) {
    .nbk-rewards-top {
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 0px;
    }

    .nbk-rewards-top .rewards-top-wrap {
        display: block;
        text-align: right;
    }

    .nbk-rewards-top .selectz {
        padding-top: 20px;
        float: none !important;
    }

    .nbk-rewards-top .search-form.small {
        width: 100% !important;
    }

    .nbk-rewards-top .search-form .search-input {
        width: 100% !important;
    }

    .nbk-rewards-top .wish-list {
        float: none;
        padding-top: 10px;
        padding-bottom: 10px;
        display: inline-block;
    }

    .nbk-rewards-top .wish-list span i img {
        max-width: 20px;
    }

    .nbk-rewards-filters .rewards-main {
        padding-right: 0px;
        padding-top: 55px;
        position: relative;
    }

    .rewards-main .selectz {
        position: absolute;
        top: 15px;
        right: 0;
    }

    .nbk-rewards-filters {
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .rewards-main .mobile-filters {
        font-size: 12px;
        padding-top: 3px;
        padding-bottom: 3px;
        width: 100%;
        text-align: center;
    }

    .rewards-main .compare-cards {
        width: 100%;
    }

    .rewards-main .compare-cards .dk_toggle.dk_label {
        width: 100% !important;
        padding-top: 14px;
        padding-bottom: 14px;
        background-size: auto 28px;
    }

    .rewards-selected-list {
        margin-bottom: 5px;
        padding-top: 10px;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .rewards-selected-list .all-offers {
        font-size: 12px;
        padding-top: 1px;
        padding-bottom: 1px;
        margin-right: 10px;
        margin-bottom: 10px;
        white-space: nowrap;
    }

    .rewards-selected-list .rewards-selected {
        font-size: 12px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-left: 0px;
        margin-right: 15px;
        margin-bottom: 10px;
        white-space: nowrap;
    }

    .nbk-rewards-wrap {
        background: #d9d9d9;
        padding-bottom: 0;
    }

    .rewards-box-wrap.fav-posts {
        background: #f1f1f1;
        margin-left: -15px;
        margin-right: -15px;
        width: inherit;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .rewards-box-wrap.fav-posts .showing-text {
        margin-bottom: 5px;
    }

    .rewards-box-wrap.fav-posts .fav-content-area {
        padding: 15px 10px 15px;
    }

    .rewards-box-wrap.fav-posts .fav-content-area h3 {
        min-height: inherit;
        display: unset;
    }

    .rewards-box-wrap.fav-posts .fav-content-area p {
        height: inherit;
    }

    .offcanvas-rewards .offcanvas-body {
        height: calc(100% - 95px);
        overflow-y: auto;
    }

    .accordion-rewards-sidebar .accordion-button::after {
        display: none !important;
    }

    .accordion-rewards-sidebar .accordion-collapse {
        display: block !important;
        height: inherit !important;
    }

    .offcanvas-rewards {
        width: 100%;
    }

    .offcanvas-rewards .offcanvas-footer {
        padding: 0;
    }

    .offcanvas-rewards .rewards-footer-buttons {
        display: flex;
        width: 100%;
        text-align: center;
        flex-wrap: nowrap;
    }

    .offcanvas-rewards .rewards-footer-buttons .all-offers {
        width: 50%;
        border-radius: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 20px;
    }

    .offcanvas-rewards .rewards-footer-buttons .all-offers + .all-offers {
        border-left: 1px solid rgba(255, 255, 255, 0.5);
    }

    .offcanvas-rewards .rewards-footer-buttons .all-offers.disabled {
        color: #949494;
    }

    .rewards-brands-btn-group {
        display: flex;
    }

    .mobile-floating {
        width: 100%;
        background: #fff;
        padding: 10px 0px 5px 0px;
        z-index: 99;
    }

    .mobile-floating.is_stuck {
        width: 100% !important;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
    }

    .mobile-floating .compare-cards .dk_options {
        top: 30px !important;
    }

    .rewards-main .selectz .search-form.small i {
        position: relative;
        top: 0;
    }

    .subscribe-poup.suggest-popup.list-offers-login {
        right: 0 !important
    }

    /*.fav-posts .top-img-sec > a img {*/
    /*  width: 70%;*/
    /*  margin-left: 49px;*/
    /*}*/
    /*.fav-posts .fav-content-area ul li {*/
    /*  display: none;*/
    /*}*/
    /*.fav-posts .fav-content-area > span*/
    /*{*/
    /*  margin-top: 0px;*/
    /*}*/
    /*.rewards-box-wrap.fav-posts .fav-content-area {*/
    /*  padding: 15px 10px 15px;*/
    /*}*/
    /*.fav-posts .heart-icon {*/
    /*  margin-right: 60px;*/
    /*}*/
    /*.fav-posts .brand-name {*/
    /*  display: none;*/
    /*}*/
    .subscribe-poup.suggest-popup.list-offers-login {
        right: 15% !important;
    }

    .rewards-box-wrap.fav-posts .fav-content-area p {
        margin-bottom: 10px;
    }
    .m-p-t-25{
        padding-top: 25px!important;
    }

    .mobile-floating .dk_options li {
        line-height: 25px !important;
    }
}

.expiring-offer {
    color: #b71828 !important;
}

.subscribe-poup.suggest-popup.list-offers-login {
    bottom: 75% !important;
    right: 25%;
}

#rewards-container .empty-results {
    margin-top: 10px;
    font-size: 20px;
}

#rewards-container .empty-results * {
    color: #094d8c !important;
    font-family: "dax-regularregular";
}

#totop {
    padding: 7px 30px 5px 30px;
    position: fixed;
    bottom: 15px;
    right: 0;
    display: none;
    z-index: 999999999999;
    cursor: pointer;
}

.accordion-rewards-sidebar .accordion-item .mCSB_scrollTools .mCSB_draggerRail {
    height: 275px;
}

/*#rewards-brands-btn-slider .mCSB_scrollTools.mCSB_scrollTools_horizontal a+.mCSB_draggerContainer{
  margin: 0 !important;
}

#rewards-brands-btn-slider .mCSB_horizontal.mCSB_inside>.mCSB_container {
  margin-bottom: 0 !important;
}*/

.rewards-box-wrap.fav-posts .brand-name {
    left: 10px !important;
    bottom: -10px !important;
}

.rewards-sidebar .accordion-body-scroll{
    height: 300px;
    overflow-y: auto;
}
.rewards-sidebar .brands-scroll{
    height: 275px;
    overflow-y: auto;
}

.simplebar-scrollbar:before {
    background-color: #cf1f39 !important;
    /*width: 4px !important;*/
}

.rewards-main .selectz .search-form.small i {
    margin-left: 2px;
    float: right;
}

.search-form.small img, .search-form.small a img{
    padding-left: 6px;
}

.rewards-main .all-offers.mobile-filters i{
    float: right;
}

.aligned-svg {
    vertical-align: middle;
    margin-left: 5px;
    position: relative;
    bottom: 2px;
}