[lang='ar'] .card_popup_small .btn-group-custom img {
    margin-left: 0 !important;
    margin-right: 5px;
}
h1, h2, h3, h4, p{
    letter-spacing: 0px !important;
}
/* [lang='ar'] h1, [lang='ar'] h1, [lang='ar'] h3, [lang='ar'] h4, [lang='ar'] p{
    letter-spacing: 0 !important;
} */

[lang='ar'] .row_reward_ar_left .img_column{
    order: 2!important;
}

[lang='ar'] .row_reward_ar_left .cont_column{
    order: 1!important;
}
[lang='ar'] .awadeel_sh_wrapper .row .col-xs-6:nth-child(6n) .sh_awedeal_hover_box{
    right: unset;
    left: 0;
}
[lang='ar'] .awadeel_sh_wrapper .row .col-xs-6:nth-child(6n) .sh_awedeal_hover_box::before {
    right: unset;
    left: 50px;
}
[lang='ar'] .card_popup_small .btn-group-custom .btn-custom {
    margin-left: 0 !important;
    margin-right: 10px;
}

[lang='ar'] #ppcs_section.ppcs_section2{
    padding-bottom: 100px;
}

[lang='ar'] .card_popup_small.offers_popup button.close {
    right: unset;
    left: 20px;
}
[lang='ar'] .shabab_terms .panel-body ul {
    padding-left: 0;
    padding-right: 10px;
}
[lang='ar'] .sh_awedeal_hover_box {
    left: unset;
    right: 0;
}
[lang='ar'] .sh_awedeal_hover_box::before {
    left: unset;
    right: 50px;
}
[lang='ar'] .sh_awedeal_section {
    background-position: bottom right;
}
[lang='ar'] .go_crazy_content_left {
    left: 90px;
}
[lang='ar'] .gc_list_content p {
    margin: 0 20px 0 0px;
}

[lang='ar'] .ppcs_list_content img {
    margin-right: 0;
    margin-left: 20px;
}
[lang='ar'] .shabab_hero_content h2 {
    font-weight: 800;
}
[lang='ar'] .shabab_hero_content h2 span {
    font-family: "dax-regularregular" !important;
    font-weight: normal;
}
[lang='ar'] .ppcs_section .title_block_wrap h2 span{
    font-weight: 800;
}
[lang='ar'] .sh_go_crazy .title_block_wrap h2 span{
    font-weight: 400;
}
[lang='ar'] .title_block_wrap.title_block_wrap_regular h2{
    font-weight: 800;
}
[lang='ar'] .sh_awedeal_section .title_block_wrap h2 {
    font-weight: 800;
}
[lang='ar'] .sh_awedeal_section .title_block_wrap h2 span {
    font-weight: normal;
}
[lang='ar'] .one_single_app .title_block_wrap h2 span {
    font-weight: 800;
}
[lang='ar'] .dp_right h2{
    font-weight: bold;
}
[lang='ar'] .sh_list_heading {
    font-weight: 800;
}
[lang='ar'] .sh_offers{
    direction: rtl;
}

[lang='ar'] .footer_form .form-control.listing-input {
    margin: 0 0px 0 0;
}
[lang='ar'] .footer_form [type="checkbox"] + label{
    padding-left: 0;
    padding-right: 20px;
}
[lang='ar'] .footer_form [type="checkbox"] + label {
    line-height: 15px;
}
[lang='ar'] .footer_form [type="checkbox"]:checked + label:after{
    top: 3px;
}
[lang='ar'] .footer_form .radio_wrap label {
    margin-right: 0;
    margin-left: 10px;
}

[lang='ar'] .sh_awedeal_hover_box {
    direction: rtl;
}
.scenes_section_wrap {
    background-position: center left;
}
[lang='ar'] .card_popup_small .modal-content {
    background-size: 200px;
}
[lang='ar'] .card_popup_large .row {
    display: flex;
    flex-direction: row-reverse;
}
[lang='ar'] .card_popup_large.without-card .row{
    flex-direction: column;
}
/* [lang='ar'] .sh_offers_right .sh_after_details{ */
/*     left: unset; */
/*     right: 50px; */
/* } */
/* [lang='ar'] .sh_offers_left .sh_after_details{ */
/*     right: unset; */
/*     left: 50px; */
/* } */

.download_app {
    background-image: url('../images/bg_yellow_ar.html');
    background-position: center bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 100px;
    margin-bottom: 130px;
}


@media only screen
and (min-width: 500px)
and (max-width: 650px) {
    .sh_offers_5 {
        top: 140px;
        left: 40px;
    }
}
@media (max-width: 1024px) {
    [lang='ar'] .left_small_card, .right_small_card{
        text-align: right !important;
    }
    [lang='ar'] .split-transfer-manage .st_mid_center {
        flex-direction: column-reverse;
    }
    [lang='ar'] .split-transfer-manage .st_mid_center{
        display: block;
    }
    [lang='ar'] .qr_code{
        display: none;
    }
    [lang='ar'] .dp_social{
        display: block;
        margin-top: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1){
    [lang='ar'] .left_small_card, .right_small_card {
        text-align: right;
    }
    [lang='ar'] .split-transfer-manage .st_mid_center{
        flex-direction: column-reverse;
    }
    [lang='ar'] #featured_section .col-md-4{
        width: 100%;
    }

}





@media (max-width: 767px){
    .sh_offers_5 {
        top: 140px;
        left: 20px;
    }
    [lang='ar'] .card_popup_large .row {
        flex-direction: column;
    }
    .title_block_wrap.title_block_crazy.title_block_wrap_regular h2 {
        text-align: right;
    }
    [lang='ar'] .row_last_shabab .col-md-8 {
        width: 100%;
    }
    [lang='ar'] .sh_hero_section .shabab_hero_content {
        text-align: right;
    }

    [lang='ar'] .footer_form .call_me {
        float: inherit;
    }
    [lang='ar'] .card_popup_small.offers_popup .modal-content{
        background-image: inherit !important;
        background-color: #fff;
    }
    [lang='ar'] .row_last_shabab .col-md-12 {
        float: unset;
    }
    [lang='ar'] .shabab_added_features .col-md-4 {
        float: unset;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 768px){
    [lang='ar'] .added_features_section .col-md-12.nopadding {
        float: inherit !important;
    }
    .card_popup_large .modal-content {
        background-position: left top;
    }
    [lang='ar'] .card_popup_large .row {
        flex-direction: column;
    }
    [lang='ar'] .card_popup_small .modal-content .col-md-6 {
        float: inherit;
    }
    [lang='ar'] .modal_right {
        text-align: right;
    }
}

@media only screen
and (min-width: 768px)
and (max-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1) {
    /*[lang='ar'] .sh_offers_5 {
        top: 434px;
        left: 12px;
    }*/
    [lang='ar'] .form-group.footer_form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 760px) {
    /*.sh_offers_9{
        right: 50px;
    }*/
   /* .sh_offers_8{
        left: 55px;
    }*/
}

@media only screen
and (min-width: 700px)
and (max-width: 800px) {

    /*.sh_offers_5 {
        top: 140px;
        left: 170px;
    }*/
}
/*@media only screen and (min-width: 500px) and (max-width: 700px) {
    .sh_offers_5 {
        top: 60px;
        left: 120px;
    }
    .sh_offers_1 {
        right: 250px;
        top: 0px;
    }
}*/
@media only screen and (min-width: 767px) and (max-width: 992px) {

   /* [lang='ar'] .sh_offers_5 {
        top: 150px;
        left: -18px;
    }*/
   /* .sh_offers_8 {
        position: absolute;
        top: 475px;
        left: unset;
        right: 50px;
    }*/
    /*.sh_offers_2 {
        position: absolute;
        top: 330px;
        left: 0px;
        right: unset;
    }*/
}


/*@media only screen and (min-width: 993px) and (max-width: 1025px) {
    .sh_offers_8 {
        position: absolute;
        top: 525px;
        left: unset;
        right: 420px;
    }
    [lang='ar'] .sh_offers_5 {
        top: 0px;
        left: 402px;
    }
}*/

@media (max-width: 490px) {
    /* [lang='ar'] .sh_offers_4 {
        left: 155px;
    }
    [lang='ar'] .sh_offers_2 {
        top: 61px;
        left: 79px;
        right: unset;
    } */
}



@media only screen
and (min-width : 1000px)
and (max-width : 1025px)
and (orientation : landscape) {
    [lang='ar'] .card_popup_large .row {
        flex-direction: row-reverse;
    }
    [lang='ar'] .card_popup_small .modal-content {
        background-position: 0px center;
    }
    .card_popup_large .modal-dialog {
        width: 100vw !important;
    }
    [lang='ar'] .card_popup_large .modal-content {
        position: relative;
        padding-left: 0px;
        padding-right: 0;
    }
}




@media only screen
and (min-width : 1000px)
and (max-width : 1025px)
and (orientation : portrait) {
    [lang='ar'] .card_popup_large .row {
        flex-direction: row-reverse;
    }
    [lang='ar'] .card_popup_small .modal-content {
        background-position: left center;
    }
    [lang='ar'] .card_popup_large .modal-content {

        padding-left: 0px;
        padding-right: 0;
    }
/*     [lang='ar'] .card_popup_small button.close { */
/*         position: absolute; */
/*         right: 20px; */
/*         top: -10px; */
/*         max-width: 30px; */
/*         opacity: 1; */
/*     } */
}
@media only screen
and (min-width : 1023px)
and (max-width : 1366px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1) {

    [lang='ar'] .modal_left img {
        margin-left: 0px !important;
    }
}


@media not all and (min-resolution:.001dpcm) {
    @media {

        @media only screen
        and (min-width: 768px)
        and (max-width: 1024px)
        and (orientation: portrait)
        and (-webkit-min-device-pixel-ratio: 1) {


        }

    }}

/* Add your arabic css styles */

/*css updated on 24-11-2021 by saif*/
.brand-names-search-wrap input{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/nbk/search-ar.png);
    background-position: center right 10px;
    padding: 10px 45px 10px 10px;
    font-weight: bold;
}
@media (max-width: 991px) {
    [row-header]:before {
        content: attr(row-header);
        display: inline-block;
        vertical-align: middle;
        text-align: right;
        margin-top: 0px;
        width: 50%;
        padding-right: 0px;
        padding-left: 30px;
    }
    .responsive .data-bottom-rounded th{
        border-bottom-right-radius: 0px !important;
    }
    .responsive .pad_detail_ins th:before, .responsive .pad_detail_ins td:before{
        float: right;
    }
}



/*end css updated on 24-11-2021 by saif*/


body { direction:rtl;  font-family: arial; }

#logo { float:right; padding:17px 0 10px 0; }

.nbk-group-ar #logo {padding:15px 0 15px 0; }

.top-bar .language-header { float:left; line-height: 20px; }

.top-bar .header-info {

    float:left; line-height: 23px;

}

.top-bar .header-info i { float: right; margin: 0 0 0 3px; }

.top-nav { float:left; }


/* .header-bar .login-btn i { float: right; margin-left: 15px; margin-right: 0; width: 16px; } */


.term-page .cols-26 p { float: right; }

.notifications {

    float:left;

}



#header-2 #logo {

    float: right;

    padding: 0 15px 0 0;

}

.top-bar .top-nav ul {

    line-height: 23px !important;

}

.dropdown.mega-menu-item h3 a { float: right;}

.top-bar .header-info li { margin:0 0 0 10px; line-height: 20px !important; }

.top-nav li  { margin:0 0 0 10px; }

.notifications sup { left:auto; right: -2.5em; }

.header-form-sec .login { float:left !important; }

.header-form-sec { padding:0 65px 0 0; }

.header-form-sec .coutries { float:left; }

.header-form-sec .coutries .flag { margin-left:10px; margin-right: 0; }

.coutries .flag i { float:right; margin:0 0 0 10px; }

.header-form-sec input { background-position: center right; padding:10px 35px 10px 10px; font-weight:bold; }

nav .main-menu .dropdown-menu .mega-menu-content .col-md-2 {  padding: 0 15px 0 1px;    text-align: right; }

#mainMenu li { float:right; }



#slider { direction:ltr; }

#slider h2 { font-family: arial; }



#slider .slider-content { text-align:right; }

.owl-item h2 { float:right; text-align:right; }

.owl-bg-img .text-middle .slider-readmore { float:right; text-align:right; }

.slider-content { float:right; }

.help-dropdown span i { float:left; border-left:1px solid #b4c8db; border-right:0; }

.lead.drop > i { border-left:0; border-right:1px solid #b4c8db; }

.help-you ul { float:right; }

.owl-carousel { direction:ltr;}

.traveling .product { float:right; margin-left:1%; margin-right:0; }

.nbk-news .product { float:right; margin:0 0 20px 1.34%;	 }

.col-sec { float:right; }

.col-sec li { padding: 0 0 0 21px; }

.img-and { float:left; }

.img-and > a:first-child { padding:0 0 0 5px; }

.info-pro { float:right; width:100%; }

.info-pro div { float:right; }

.col-md-fb { margin: 0 0 0 15px; }

.personal-col { padding: 0 4px 0 0; }

.private-col { padding: 0 4px 0 0; }

.business-col { padding: 0 4px 0 0; }

.coprate-col { padding: 0 4px 0 0; }

.nbk-col { padding: 0 4px 0 0; }

.usefull-col { padding: 0 4px 0 0; }

.chose-col { padding: 0 4px 0 0; }

.chose-col h4 { float:left; }

.chose-col .coutries { float:left; }



.chose-col .coutries .flags { background: rgba(0, 0, 0, 0) url("../images/nbk/drop_09.png") no-repeat scroll 5% center;  padding: 0 2px 0 20px; }

.coutries .flags span {  float: right; padding-left: 24px; padding-right: 0; border-left: 1px solid #5586b1; border-right:0; }

.flags img { padding: 0 0 0 5px;  }

.col-mt { float:right; text-align:right; }

#footer .social-icons { float:right; }

.social-icons > span { float:right; }

.seperators .social-icons ul { padding: 0 5px 0 0; }

.seperators .social-icons li { float:right; }

.widget .input-group { float:left;}

.footer-content .col-mf .widget-title { float:left; margin:5px 0 0 12px; }

.footer-content .fa.fa-angle-left { padding:0 5px 0 0; color: #fff;

    display: inline-block;

    font-size: 14px }



.apply-now-page .date-birth .clon { float: right; }

.apply-now-page .radio.radio-info.radio-inline {

    padding: 0 10px 0 0;

}



.icon-ok {

    left: 10px;

    position: absolute;

    right: auto;

    top: 20px;

}



.dp8bar span.bar { float: right; left: inherit; right: 0; }



.apply-now-btns a {

    background-image: url("../images/nbk/icons-ar.png");

    background-position: right center;

    padding: 7px 38px 7px 24px;

}



.apply-now-page .btn.btn-default.pull-right.right { margin: 0; }



.term-page .after p { float: right; }



#widget-subscribe-form .input-group-btn { right:auto; left:2px; }



.cols-mds > li { float:right; }

.cols-mds > li:first-child a { padding:0 0 0 10px; }

.copyright-text { float:left; }

.all-offers > i { margin:0 5px 0 0;	 }

.all-offers { padding:5px 20px 5px 15px; }

.readmore { float:right; }

.readmore i { float: left;    margin: 0 8px 0 0; }



.sticky .card-box .fee-buttons .apply-now i img, .sticky .card-box .fee-buttons .learn-more i img {
    margin: 0 !important;
    width: 15px;
}

.sticky .card-box .fee-buttons .apply-now, .sticky .card-box .fee-buttons .learn-more {
    float: right;
    font-size: 10px;
    padding: 2px 8px !important;
    width: 80px;
}

.sticky .card-img {
    float: left;
    width: 60%;
}

.sticky .card-box .fee-buttons {
    float: left;
    width: 40%;
}

.sticky .card-box h3 {
    float: left;
    margin-top: 0;
    width: 40%;
}
.sticky .card-img img {
    width: 100%;
}
.sticky .card-box h3 a {
    float: right;
    font-size: 11px;
    margin: 0;
    text-align: right !important;
}
.credit-card-compare .sticky .apply-now.blank-now { margin-top: 0; }


.post-item .post-title h3 { float:right; direction:rtl; }

.product p { float:right; direction:rtl; }

.special-offers h3 { float:right; text-align:right; }

.header-form-sec .login a i { margin:0 0 0 10px; }

.info-pro .tab-content {

    background: #f6f7f8 none repeat scroll 0 0;

    padding-top: 5px;

    text-align: left;

    width: 228px;

}



.header-form-sec .login .login-btn { padding: 10px 50px; }





#exTab1 .tab-content > .active { width: 100%; }

.fb_iframe_widget { float: none !important; width: 100%; }

.fb_iframe_widget span { width: 100% !important; }

#exTab1 .panel li { direction: ltr; }



.owl-bg-img .text-middle .slider-readmore i { float:left; margin-left: 0; margin-right: 8px; }



.body-content .agree { padding: 10px 90px 0 0;  }



.top-nav li a { font-family:Arial, Helvetica, sans-serif; font-weight:bold; }

#mainMenu > ul > li > a { font-family:Arial, Helvetica, sans-serif; font-weight:bold; }

.header-form-sec .login .login-btn { font-family:Arial, Helvetica, sans-serif; font-weight:bold; }

.coutries span { font-family:Arial, Helvetica, sans-serif; font-weight:bold; }

.header-form-sec input { font-family:Arial, Helvetica, sans-serif; background-image: url("../images/nbk/search-ar.png"); }

.owl-item h2 { font-family:Arial, Helvetica, sans-serif; }

.owl-bg-img .text-middle .slider-readmore { font-family:Arial, Helvetica, sans-serif; float: right !important; }



.help-dropdown h2 { font-family:Arial, Helvetica, sans-serif; }



.heading h2 + span, .heading h2 + span.lead { font-family:Arial, Helvetica, sans-serif; }

.help-you ul li { text-align:right; padding:4px 22px 3px 0; font-family:Arial, Helvetica, sans-serif; }



.account-box h3 { font-family:Arial, Helvetica, sans-serif; font-weight:bold; }

.account-box p { font-family:Arial, Helvetica, sans-serif; }

.popular h2 { font-family:Arial, Helvetica, sans-serif; }

.product .post-title a { font-family:Arial, Helvetica, sans-serif; }

.product p { font-family:Arial, Helvetica, sans-serif; }

.special-offers a { font-family:Arial, Helvetica, sans-serif; }

.all-offers { font-family:Arial, Helvetica, sans-serif; }

.cols-mn > h2 { font-family:Arial, Helvetica, sans-serif; }

.nbk-news .product h3 a { font-family:Arial, Helvetica, sans-serif; }

.nbk-news .product span  { font-family:Arial, Helvetica, sans-serif; }

.footer-content .col-mf .widget-title { font-family:Arial, Helvetica, sans-serif; }

.col-sec a { font-family:Arial, Helvetica, sans-serif; }

.widget.widget-newsletter .btn { font-family:Arial, Helvetica, sans-serif; }

.copyright-text  { font-family:Arial, Helvetica, sans-serif; }

.cols-mds a  { font-family:Arial, Helvetica, sans-serif; }

.coutries .flags span   { font-family:Arial, Helvetica, sans-serif; }

.col-mf .widget.widget-newsletter .form-control  { font-family:Arial, Helvetica, sans-serif; }

#exTab1 span { font-size:11px; }

.country li { padding: 0 15px 0 0; }

.country ul li span { margin:0 0 0 13px; float:right; }



.login-menu span {    float: right;    margin-left: 0;    margin-right: 10px; }

.country ul li a { font-family:Arial, Helvetica, sans-serif; font-size:12px; }



.notification-dropdown h3 { padding-right:15px; }

.notification-dropdown ul li h4 { padding-right:15px; }

.notification-dropdown ul li span { padding-right:15px; }

.notification-dropdown ul li h4 { font-family:Arial, Helvetica, sans-serif; }

.notification-dropdown ul li p { font-family:Arial, Helvetica, sans-serif; line-height:16px; }

.notification-dropdown ul li span { font-family:Arial, Helvetica, sans-serif; }

.notification-dropdown { background-position: 54% top; }

.login .login-btn { padding: 2px 15px; }



.language-header { float:left;  margin-right: 11px; margin-left:0;  padding-left: 0; padding-right:0; }

.tel { float: left; margin:8px 9px 0 0; }

.location { float:left;  margin:8px 9px 0 0; }

.search { float:right;  margin:8px 0s 0 0; }

#header-2 .notifications { margin-top:8px; margin-left: -13px; }



[data-accordion] > [data-control]::after { left: 10px !important; right: auto !important; top: 7px !important; }

[data-control], [data-content] > * { padding: 6px 25px 6px 40px; }

button[data-control] { text-align:right !important; }



.useful-links a { font-family:Arial, Helvetica, sans-serif; }

button[data-control] { font-family:Arial, Helvetica, sans-serif; font-weight:bold; }

#multiple [data-content] a { padding: 2px 28px 3px 40px; font-family:Arial, Helvetica, sans-serif;  }

.header-form-sec .search { margin-top:0; }

.res-widget-title { display:none !important;  }

.coutries .countrys-dropdown {

    width: 100%;

}

.countrys ul li span { float:right; margin:0 5px !important; }

.top-bar .language-header a {

    color: #fff;

    font-family: "dax-regularregular";

    font-size: 12px;

    font-weight: bold;

    text-transform: uppercase;

}



.info-pro .twitter-feeds div { float: none !important; width:auto !important; }



.download-pdf-section .product:nth-child(3n+3) { margin-right: 0; margin-left: 0;  }



@media (min-width: 992px) {



    .product.contact.last-box,  .product.contact:last-child { margin-left: 0% !important; }



}



@media (max-width: 767px) {

    .nbk-tool-sec .nbk-tool { left: -280px !important; right: auto !important; }
    .nbk-tool-sec .nbk-tool .tool-inner { width: 280px !important; }

    .why-to-work img { margin-right: 0 !important; margin-left: 5%; }
    .about-work p { padding: 0 !important; }
    .breads .breadcrumb li { float: none !important; }
    .breads .breadcrumb { padding:0 !important;  }
    .breads .p-21 { padding-left: 0 !important; text-align: center !important; }
    .breads .p-21 .col-imgs { float: none !important; }
    .levels .timeline-border { right: 0 !important; left: auto !important; }
    .levels .year-performance { padding: 0 30px 0 !important; }
    .levels .circle { float: right; margin: 0 -35px 0 0 !important; }

    .cols-buttons.col-md-12 { width: 100%; }

    .right-pane ul li ul.subnav li { text-align: right !important; }
    .right-pane ul li span { text-align: right !important; }
    .right-pane ul li ul.subnav { width: 100% !important; }


    .apply-now-page .cols-26 .radio-inline { padding-left: 0; }



    .apply-now-page .setps-content .agree { padding: 10px 10px 0 0; }



    .product.contact.last-box, .product.contact:last-child { margin-left: 5% !important;	 }

    .traveling .product.last-box  {

        margin-right:0 !important;

    }

    .login .login-btn { padding: 3.1px 15px; }

    #footer .social-icons { width:100%; text-align:center;  }

    .social-icons > span { float:none; }

    .seperators .social-icons li { display:inline-block; float:none; margin-top:20px; }

    .res-widget-title { display:block; }

    .res-widget-title + .input-group + .widget-title { display:none; }

    #widget-subscribe-form .input-group-btn { right: auto !important; left:54px !important; }

    .chose-col {    padding: 0 0 0 4px;    text-align: center;    width: 100% !important; }

    .chose-col h4 { width:100%; text-align:center; }

    .coutries .flags span { text-align:right; }

    .chose-col .coutries .flags { background: rgba(0, 0, 0, 0) url("https://nbk.msrdsto.com/.resources/nbk-theme/images/nbk/down-arrow.svg") no-repeat scroll 11px center !important; padding:0 6px 0 35px; }

    footer .widget { margin-top:20px; }

    .img-and { width:100%; }

    .notification-dropdown { top: 36px; left:-113px; }

    #header-2 .search { float:left !important; }

    .country-dropdown { right:0; width: 314px !important; }

    .login-menu { width:140%; }

    .res-widget-title { display:block !important;  }

    .footer-content .widget-newsletter { margin-top: 0; }

    .personal-col, .business-col, .coprate-col, .nbk-col, .usefull-col, .private-col { height:210px; }





    .info-pro .tab-content { width: 100%; }

    .info-pro #exTab1 { width: 100%;  }

    .countrys ul { float: right; width: 100%;}

    .countrys li { float: right; width: 100%; text-align: right; }

    .countrys a { float: right; text-align: right; width: 100%; }

    .main-links a { float: right; padding: 6px 25px 6px 0; }

    .main-links { text-align: left; }

    #multiple [data-content] a { float: right;}

    #multiple [data-content] [data-accordion] [data-content] a { float: right; padding: 2px 25px 2px 0; text-align: right; width: 100%; }

    .help-dropdown span i { padding: 16px 27px; }

    [data-accordion] button { margin: 0 100px 0 0; }

    .language-header { margin-left: 11px !important; }



    .deop-flag p{ padding: 8px 25px !important; text-align: right !important; width: 50%; }

    .start-career .deop-flag p { width: 70%; }



    /*------------------economic-reports-css ----------------*/

    .economic-report .selectz-rtl {

        margin-right: 0px !important;

    }



    .term-nav ul li a { text-align: right;}

    .term-res-menu span { padding: 12px 10px 12px 65px; }

    .term-res-menu span i { left: 0; right: auto; border-right: 1px solid #b4c8db; border-left: 0; }

    .term-res-menu span i.toggle {  border-left: 1px solid #b4c8db; border-right: 0;  transform: rotate(180deg); }



/*     .header-bar .login { float: right !important; margin: 0 0 0 0 !important;} */



    .search-form.small { margin-right: 0 !important }

    .economic-report.economic-report .search-form .search-input { width: 100% !important; }



    .breads .p-20 ol li:first-child { padding-left: 5px !important;    padding-right:  !important;}

    .breads .p-21 { padding-left: 0 !important; }



    .border-left { border-bottom: 1px solid #e5e5e5; border-left: medium none; }

    .setps-content .border-left { width: 100%; }

    .economic-report .dateofbirth .dk_toggle.dk_label { width: 210px !important;  }
    .contact-us-page .cols-25 .pull-left { margin-right: 0; margin-bottom: 20px;}

    .setps-content .border-left { border: 0; }

    .card-filter-res .dk_container { width: 68% !important; }
    .card-filter-res .cards { float: right !important; }
    .date-birth .clon { float: right !important; }
    .economic-report .selectz { margin: 0; }

    .credit-card-compare .sticky .apply-now.blank-now { margin-top: 112px !important; }
    #slider + .credit-card-compare.credit-card-compare-res .learn-more { padding: 6px 10px 5px !important; width: 135px !important; }
    #slider + .credit-card-compare.credit-card-compare-res .apply-now { padding: 6px 10px 5px !important; width: 135px !important; }
    .faq-page .custom-tabs .tab-res .nav { width: 850px !important; }

    .card-listing-res .dk_container { float: left;}
    .card-listing-res .cards a {
        background-position: 96% center;
        padding: 5px 50px 5px 20px;
        text-align: right;
        width: 100%;
    }

}



@media (min-width: 768px) and (max-width: 991px) {

    .country-dropdown { right: -24px !important; }

    .levels .timeline-border { right: 0 !important; left: auto !important; }
    .levels .year-performance { padding: 0 30px 0 !important; }
    .levels .circle { float: right; margin: 0 -35px 0 0 !important; }

    .body-content .agree { padding: 10px 50px 0 0; }

    .download-pdf-section .product { margin-left: 4% !important; }

    .product.contact.last-box { margin-right: 0 !important; }

    .header-form-sec input { padding: 6px 35px 6px 10px; }

    .top-bar .header-info li { float: right; }

    .country-dropdown { width: 304px !important; }



    .product.contact.last-box { margin: 0 5%; }



    .reward-filter .selectz { width: 36% !important; float: right !important}

    .compare-cards.economic-report .selectz { width: 17.2% !important }

    .reward-filter .search-filters .dk_toggle.dk_label { margin-right: 0 !important; }

    .economic-report .search-form.small { width: 96% !important; margin-right: 4% !important; }

    .economic-report .search-form.small input { width: 100% !important; }


    .term-nav.media-nav ul li { margin: 0 0 0 50px !important; }

    .find-us-page .find-us-map .selectz { margin-bottom: 20px; margin-left: 2% !important; margin-right: 0; width: 31%; }

    .term-nav.product-nav ul li { margin: 0 0 0 26px !important; }
    .term-nav.product-nav ul li:last-child { margin: 0 !important; }

    .faq-page .custom-tabs .nav.nav-tabs a { padding: 8px 10px !important }

}









.mobile-menu-btn { float: left;}

.coutries { float: right;}

.login { float: right !important; margin: 0 10px 0 0 !important;}

.coutries .flag { margin-right: 12px; }



.fb-page.fb_iframe_widget iframe {

    float: left;

    position: static !important;

    width: 100% !important;

}



.info-pro .fb-page fb_iframe_widget { float: none !important; }

.facebook-feeds { float: none !important; direction: ltr !important; }

.facebook-feeds div { float: none !important; }



.right-header-sec .header-form-sec .login .login-menu a { padding-right: 0 !important; }



.country-dropdown { left: auto; right: 0; }



/* By Mohsin Habib */

#fs-30 .readmores {

    float:right; text-align:right;

}

.background-greys.p-b-0 .first:hover:before {

    content: "أعرف أكثر";

}



.account-boxs .text-right li {

    float: right;

    text-align: right;



    padding: 2px 31px 0 31px;

    background: rgba(0, 0, 0, 0) url(../images/nbk/tick.png) no-repeat scroll right center;

}

.titles > h2 {

    text-align: right;

    padding-right: 50px;

}

.breads .p-20 {

    float: right;



}



.breads .p-21 .col-imgs {

    float: left;

}

.breads .p-21 {

    float: left;

    padding-left: 60px;
    padding-right: 0;

}

.breads .breadcrumb {
    padding: 0 50px 0 0;
    text-align: right;
}

.breads .p-20 ol li:first-child {

    padding-right: 0;

    padding-left:0;

}

.breads .breadcrumb li {

    float: right;

}

.fs-33 .btn-cols i {

    float: right;

    padding-left: 2px !important;

}

.fs-33 .rtl-compare-btn i {

    float: right;

    padding-left: 12px !important;

}

.text-right-ul li {

    background: url(../images/white-dot.png) no-repeat center right !important;

    padding: 0 10px 0 0 !important;

    float: right;

    text-align: right !important;

}

.margin-0 {

    margin:0 !important;

}

.credit-card-title .manage-credit .sec-1, .sec-2, .sec-3, .sec-4, .sec-5  {

    float: right;

    margin-left: 50px;

    margin-right:0;

}





.credit-card-title .manage-credit .sec-2 {

    margin-left: 35px;

    margin-right: 0;

}



.credit-card-title .manage-credit .sec-3 {

    margin-left: 67px;

    margin-right:0;

}

.credit-card-title .manage-credit .sec-4 {

    margin-left: 67px;

    margin-right:0;

}

.credit-card-title .manage-credit .sec-5 {

    margin-left: 0;

}

.text-left .cards {

    float: left;

}

.compare-cards .cards sup {

    left: -2px;

    right:auto;

}

.apply-now > i {

    margin-right: 5px;

    margin-left: 0;

}

.credit-card-title .do-i-get ul li {

    background: rgba(0, 0, 0, 0) url(../images/card-listing/dot.png) no-repeat scroll right 4px;

    padding-left: 0;

    padding-right: 8px;

}

.compare-cards span {

    float:right;

    margin: 1px 0 0 12px;

}

.selectz {

    float:right !important;

}



.credit-card-compare .container-else .col-md-3 {

    border-left: 2px solid #dbdddd;

    border-right: 0;

}

.credit-card-compare ul li {

    padding:0 8px 0 0; background:rgba(0, 0, 0, 0) url(../images/card-listing/dot.png) no-repeat scroll right 4px;

}

.owl-bg-video .text-middle .slider-readmore {

    float: right;

}

.credit-card-compare .apply-now{

    padding: 0 18px 1px 27px;

}

.manage-credit .apply-now{

    padding: 7px 27px 5px 37px;

}



[type="checkbox"]:not(:checked), [type="checkbox"]:checked { right: -9999px; left: auto !important; }



.learn-more { width: 135px; padding: 6px 15px 5px 15px !important;  }

.learn-more i { float: left; margin: 0 5px 0 0; }

.apply-now { width: 135px; padding: 6px 15px 5px 15px !important; }

.apply-now i { float: left; margin: 0 5px 0 0; }



.download-pdf-section .product  {

    margin-left: 5%;

    margin-right: 0 !important;

}



.download-pdf-section .post-content-details {

    padding: 25px !important;

}







.contact-us-page .margin-bottom {

    float:right;

}

.holder {

    padding-right: 9px;

    padding-left: 9px;

}

.cols-buttons .left-btn {

    border-color: #0e4c8c;

    border-radius: 4px;

    color: #0e4c8c;

    font-size: 12px;

    padding: 10px 50px;

    text-transform: uppercase;

}

.ar .traveling .product:last-child {

    margin-left:0 !important;

}



.ar .download-pdf-section .pdf-title img {

    margin-right: 0;

    margin-left: 15px;

}

.ar.btn-cols {

    float: right;

}



.search-form .search-input { padding: 0 25px 0 55px !important; background-position: 98% center; }

.search-form.small a { right: auto; left: 0 }

.search-form.small a i { float: left; line-height: 20px; margin-right: 2px; margin-top: 4px; }





/*------------------Careers css en----------------*/

.careers .apply-now {

    font-size: 16px;

    padding: 8px 15px 8px 8px !important;

}

.deop-flag > a{

    float: right;

    width: 100%;

}

.deop-flag p {

    color: #0b4d8c;

    float: right;

    font-size: 16px;

    margin-bottom: 0;

    padding: 8px 106px;

    text-align: center;

}

.deop-flag .country-dropdownzz { width: 100%; }

.start-career .deop-flag i { float: left; }

@media (min-width: 992px) and (max-width: 1099px) {





    .deop-flag p { padding:8px 96px; }

    .term-nav.media-nav ul li { margin: 0 0 0 100px !important; }
    .header-form-sec .search { width: 45% !important; }



}

/*------------------Careers css en----------------*/













/*------------------economic-reports-css ----------------*/

.economic-report .selectz-rtl {



}

.economic-report .search-form .search-input{

    width: 225px !important;

}

.reports .referz{

    margin-right:20px;

}

.economic-report .sercz {

    float: left !important;

}

.term-nav ul li {

    float: right !important;

    margin: 0 0 0 42px;

}



.careers-box ul li{

    background: rgba(0, 0, 0, 0) url("../images/card-listing/dot.png") no-repeat scroll right center;

    padding-right:8px;

}

.about-work img {

    float: right;

}

.about-work p{

    padding-right:204px;

    padding-left: 0px;

}

.about-to-work h2{

    float: right;

}

.levels .img-sec{

    float: right;

}

.levels h2{

    float: right;

}

.levels .ratings a{

    float: right;

}



.levels .year-performance { float: right; }

.board-of-directors.lefts { float: right; }

.para-col li{

    background:rgba(0, 0, 0, 0) url("../images/card-listing/dot.png") no-repeat scroll right 4px;

    padding-right: 8px;

}

.moving-steps > li::before{

    float: right;

    margin-left:5px;

}

#accordion ul li i{

    float: right;

    margin-left: 25px;

    margin-right: 0px;

}

.moving-stepsz > li::before{

    float: right;

    list-style: none;

    margin-left: 5px;

}

.wrapper ol li {

    float: right;

}

.moving-stepsz li {

    background:none;

}

.cols label{

    float: right;

    margin-left: 5px;

    padding-top: 1px;

}

.term-page .pro-img h3{

    right: 25px;

}

.search-form.small{

    margin:0 10px 0 0;

    float: right;

}





.search-form.small a i {

    float: left;

    line-height: 17px;

    margin-left: 0;

    margin-right: 6px;

    margin-top: 4px;

}



.selectz-rtl a i { transform: none !important; }



.economic-report .search-form.small a { border-radius: 4px 0 0 4px !important }



#slider h2{

    text-align: right;

}





.reports .product-item { margin-left: 0; margin-right: 0; }





.row .col-md-4:nth-child(3n+4) { clear: none; }



.date-birth .clon { float: left; }

.select-nationality .select-national { float: left; }


[type="checkbox"]:not(:checked) + label::before, [type="checkbox"]:checked + label::before { left: auto; right: 0; top: 0 !important;}

[type="checkbox"]:not(:checked) + label::after, [type="checkbox"]:checked + label::after { left: auto; right: 2px;}



.term-page .cols-26 label::before { left: auto; right: 0; margin: 0 0 0 10px; }

.term-page .cols-26 label { margin: 0 0 0 15px; padding: 0 17px 0 0;  }



.term-page .after label::before { left: auto; right: 0; margin: 0 0 0 10px; }

.term-page .after label { margin: 0 0 0 15px; padding: 0 17px 0 0;  }

.term-page .left { float: right; }

.term-page .left { float: right !important; }

.term-page .right { float: left !important; }

.term-nav ul li:last-child {

    margin-right: 10px;

}

.careers-nav ul li:last-child{

    margin-right: 50px;

}

.subscribe-reports button i {

    float: left;

    margin-right: 15px;

    margin-left: 0px;

}

.subscribe-reports h3{

    text-align:right;

}



.all-offers i {

    float: left;

    margin: 0 5px 0 0;

}





.icon-ok {     background-position: left top; }

#slider .play-video img { float: right; margin-bottom: 10px; }





.nbk-tool-sec .nbk-tool { left: -375px !important; right: auto !important; }

.nbk-tool-sec .nbk-tool.out { left: 0 !important; right: auto !important; }

.nbk-tool-sec .nbk-tool .tool-toggle-btn { float: right; margin-left: -1px; }



.nbk-tool .tool-inner { background: rgba(255, 255, 255, 0.93); border: 1px solid rgba(56, 107, 160, 0.93) !important; border-left: 0 !important; border-bottom-right-radius: 4px; border-top-right-radius: 4px; border-bottom-left-radius: 0; border-top-left-radius: 0; display: inline-block; height: 388px; padding: 15px 0 53px; width: 375px; float: left; }

.nbk-tool h3 i  { right: auto; left: 20px; }

.nbk-tool .prayer-list li p.pull-left { float: right !important; }

.nbk-tool .prayer-list li p.pull-right { float: left !important; }





.nbk-tool .weather-main-sec li p.pull-left { float: right !important; }

.nbk-tool .weather-main-sec li span.pull-right { float: left !important; }

.loan-box .half-sec-loan label { float: right;}

.dk_container { float: right;}

.type-boxes input { float: left !important; }

.nbk-tool .type-boxes span { float: left !important; }

.repayment-month ul li { float: right; }



.economic-report .search-form .search-input { background-position: 98% center; padding: 0 25px 0 55px; }

.search-form.small a { right: auto; left: 0;    border-bottom-right-radius: 0;
    border-top-right-radius: 0;    border-bottom-left-radius: 4px;    border-top-left-radius: 4px;}



.economic-report .year .dk_toggle.dk_label { width: 100px !important; }



.inspiro-slider .play-video img { display: inline-block; float: none; margin-bottom: 10px; }

.inspiro-slider .play-video img { float: none !important; }





.social-share li a i { margin: 0 0 0 10px; }

.col-imgs li { float: right; }



.loan-box .dk_container { float: left; }



@media (min-width: 480px) and (max-width: 767px) {



    .term-res-menu.sticky { background: #fff none repeat scroll 0 0; display: block !important; margin: 0 0 30px 0; padding: 0; position: fixed; top: 0; width: 95%; }



    .term-res-menu.sticky + ul { position: fixed; top: 50px; width: 95%; }



}



@media (min-width: 320px) and (max-width: 479px) {



    .term-res-menu.sticky { background: #fff none repeat scroll 0 0; display: block !important; margin: 0 0 30px -12px; padding: 0; position: fixed; top: 0; width: 90%; }



    .term-res-menu.sticky + ul { position: fixed; top: 50px; width: 90%; margin-left: -12px; }



    .nbk-tool-sec .nbk-tool { left: -280px !important; right: auto !important; }

    .nbk-tool-sec .nbk-tool .tool-inner { width: 280px !important; }

    .credit-card-compare .container-else .col-md-3 { border-bottom: 0; padding-left: 15px; padding-right: 15px; }

}







.brand-logo { float: right; border-right: 0; border-left: 1px solid #dbdbdb; }

.reward-filter .dk_container { margin-right: 4px !important; }

.btn-cols .btn.btn-primary i { padding-left: 12px !important; }



.wrapper ol { float: right ;}

.social-share { left: -10px !important; right: auto; }



.custom-tabs3 .nav-tabs li { float: right; }



.error-page + .row .careers .apply-now { padding: 6px 15px 5px 8px !important; }

.error-page + .row { text-align: center !important; }

.error-page + .row .col-md-4, .error-page + .row .col-md-2 { float: none !important; display: inline-block; }

.error-page + .row .col-md-2 .careers { float: right; }



.custom-tabs2 .nav-tabs > li { float: right;}

.label-head, .radio-inline { float: right; }



.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] { margin: 5px -20px 0 0; }

.label-head, .radio-inline { margin: 0 0 0 10px; }

.checkbox-inline, .radio-inline { padding: 0 20px 0 0; }



.economic-report .dateofbirth .dk_toggle.dk_label { margin-right: 8px; margin-left: 0 !important; }



.slimScrollRail {

    left: 0 !important;

    right: inherit !important;

}

.news-headlines li { float: right; }



.contact-us-page .preferred-content { float: right !important; }

.contact-us-page .compare-cards { min-height: 45px; }



.thanks [type="checkbox"]:not(:checked), .thanks [type="checkbox"]:checked {  left: -9999px !important; right: auto !important; }

.thanks [type="checkbox"]:not(:checked) + label::after, .thanks [type="checkbox"]:checked + label::after { top: 2px !important; }





.faq-page .custom-tabs .nav-tabs li { float: right; }

.faq-page .custom-tabs .main-links a { float: right;  padding: 9px 30px 8px 0; }

.faq-page [data-accordion] button { float: left; }

.faq-page [data-accordion] > [data-control]::after {  left: 0; }



.custom-tabs [data-content] [data-accordion] h4 { text-align: right; }

.custom-tabs [data-content] [data-accordion] p { text-align: right; }

.agree [type="checkbox"]:not(:checked) + label::after, .agree [type="checkbox"]:checked + label::after { top: 3px !important; }





.compare-cards .dk_label { background: rgba(0, 0, 0, 0) url("../images/card-listing/down-arrow-ar.png") no-repeat scroll left center; text-align: right !important;  padding-right: 10px; }



.careers .apply-now > i { margin: 0 20px 0 0; line-height: 22px; }

.nbk-tool .go-to-back h4 i { left: auto; right: 20px;}



.clon .selectz.country-input.select-national { width: 100%; }

.clon {  padding: 0 5px 0 0; }



.select-national.compare-cards .dk_toggle.dk_label {

    float: left;

    padding-left: 40px;

    text-align: center !important;

    width: 100% !important;

}

.credit-card-compare .apply-now.blank-now { margin-top: 112px; }

/*---------CSS-------------------------------*/
.invester-button {
    background-color: #0b4d8c;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    padding: 10px 50px;
}
.invester-button:hover{
    color: #ffffff;
}
.levels .bank-level{
    float: right;
}
.date-padding{
    float: right;
}

input.search-field { float: left;}


.validation-require input { background-position: 5% center !important; }

body.device-sm .breadcrumb, body.device-xs .breadcrumb, body.device-xxs .breadcrumb { text-align: right !important; }

.footer-content .widget-title { float: right;  width: 100%;}

.term-nav.media-nav ul li { margin: 0 0 0 150px; }

.media-relation-page .announcements-four-cols h3 a { float: right; }
.video-interview-sec.video-list .video-box p { float: right; text-align: right; }
.media-relation-kit .fee-term h3 { float: right; text-align: right; }
.media-contacts .contact-info ul li img { margin: 0 0 0 15px; }

.right-card-steps .select-nationality label { float: right; }


.agree label span { float: right; line-height: 16px;}

.setps-content .btn-cols .btn.btn-primary { padding: 5px 10px 7px 20px; }
.setps-content .btn-cols .btn.btn-primary i { padding-left: 12px !important; padding-right: 0 !important; }

.right-product-table .col-md-3:last-child { border: 0 none; }


.right-pane ul li ul.subnav li { background-position: center right !important; padding: 5px 23px 5px 0 !important; }

.find-us-page h3 { float: right !important; }
.find-us-page .search-form.small { float: left !important;}
.find-us-map form { padding: 20px 20px 20px 0;  }
.find-us-map .selectz { margin: 0 0 0 0.7%; }
.find-us-map .selectz:last-child { margin: 0; }
#branch_form .filter-text { float: right; margin: 0 0 0 15px; }
.find-us-map .dk_label { background-position: center left; }
.find-us-map .dk_label { background: rgba(0, 0, 0, 0) url("../images/card-listing/down-arrow-ar.png") no-repeat scroll left center; padding-left: 32px; padding-right: 0; text-align: center !important; }
.find-us-page .map-data { float: right; }
.find-us-page .slimScrollDiv { float: left !important; }
.find-us-page .slimScrollBar { right: auto !important; left: 0;}
.find-us-page .post-item a.btn-learn i { float: left; line-height: 20px; margin-left: 0; margin-right: 7px; }

.filter-text.visible-xs { background-position: 2% center; }

.right-dropdown.age .dk_toggle { background: rgba(0, 0, 0, 0) url("../images/nbk/right-pro-steps-arrow-ar.jpg") no-repeat scroll left center; float: right; padding-left: 45px; padding-right: 0; }
.right-dropdown .dk_options a { text-align: right; }

.right-dropdown .dk_options { left: auto !important; right: -1px !important; width: 100.3%; }

.gm-style .gm-style-iw { right: auto !important; left: 0 !important; }


.sticky .card-img { float: right; }
.credit-card-compare .close-icon {  right: 5px; left: auto; }
.sticky .card-box h3 { float: left; }
.sticky .card-box h3 a { float: left; }
.sticky .card-box .fee-buttons .apply-now, .sticky .card-box .fee-buttons .learn-more { float: left; }
.sticky .card-box .fee-buttons { float: left; }
.credit-card-compare-res.credit-card-compare .col-md-3.col-sm-3.col-xs-3:last-child { border-left: 0;  }

.wrappersz .all-offers { float: right;}

.terms-form .error { background: rgba(0, 0, 0, 0) url("../images/nbk/validation-error-img.png") no-repeat scroll 10px center; }
.select-national .selectz label.error { margin: 0 !important;  }
.selectz label.error { left: auto !important; right: 5px; }
.select-national .selectz label.error { right: 0;  }

.contact-form .error {
    background: rgba(0, 0, 0, 0) url("../images/nbk/validation-error-img.png") no-repeat scroll 10px 10px;
    border: 1px solid #ee2b33 !important;
}

.news-headlines a { font-size: 14px; }

#widget-subscribe-form h4 { width:auto !important; }
.radio-btns p { margin-right:20px; margin-left:0 !important; }


.moving-steps p { padding-right: 24px; padding-left:0; }

.live-chat { float: left; text-align: left; }
.added_features_row .slick-list {
    direction: ltr;
}

@media only screen and (min-width: 500px) and (max-width: 700px) {
    .sh_offers_5 {
        top: 60px;
        left: 120px;
    }
    .sh_offers_1 {
        right: 250px;
        top: 0px;
    }
}
@media only screen and (min-width: 767px) and (max-width: 992px) {

    /*[lang='ar'] .sh_offers_5 {
        top: 150px;
        left: -18px;
        right: unset;
    }*/
    /*.sh_offers_8 {
        position: absolute;
        top: 475px;
        left: unset;
        right: 50px;
    }*/
    /*.sh_offers_2 {
        position: absolute;
        top: 330px;
        left: 0px;
        right: unset;
    }*/
}
/*@media only screen and (min-device-width: 993px) and (max-device-width: 1025px) {
    .sh_offers_8 {
        position: absolute;
        top: 525px;
        left: unset;
        right: 420px;
    }
    [lang='ar'] .sh_offers_5 {
        top: 0px;
        left: 402px;
    }
}*/

[lang='ar'] .header_cashback_inner ul {
    padding-right: 30px !important;
}

[lang='ar'] .header_cashback_inner ol {
    list-style-position: outside;
    padding-right: 30px !important;
}

[lang='ar'] .hover_outter .sh_awedeal_hover_box .close{
    left: -15px;
    right: auto;
    float: left;
}

[lang='ar'] .footer_form .dk_toggle{
    background-position: left center;
    padding-right: 18px;
    padding-left: 45px;
}
[lang='ar'] .footer_form .dk_container{
    text-align: right;
}
@media (max-width:1024px){
    [lang='ar'] .stm_image_frame img{
        width: 330px;
        left: 21.1%;
    }
}
@media (max-width:991px){
    [lang="ar"] .stm_image_frame img {
        left: 26.1%;
    }
}
@media (max-width:767px) {
    [lang="ar"] .stm_image_frame img {
        left: 14.5%;
        width: 270px;
    }
}
[lang="ar"] .title_block_wrap h2{
    letter-spacing: 0;
}
[lang="ar"] #featured_section .col-md-12{
    width: 100%;
}
/*27/12/22*/
@media (max-width:1024px) {
    [lang="ar"] .sh_hero_section {
        background-position: center left;
    }
    [lang="ar"] .shabab_hero_content h2,
    [lang="ar"] .sh_hero_section .shabab_hero_content {
        text-align: right !important;
    }
}
@media (max-width: 767px){
    [lang="ar"] .sh_hero_section .shabab_hero_content {
        margin-right: 0;
        margin-left: 0;
        width: 100vw;
        padding-left: 145px;
        padding-right: 15px;
    }
}
/*3/1/23*/
[lang="ar"] .sh_offers_container .title_block_wrap h2{
    font-weight: 800;
}
/*19/01/23*/
[lang="ar"] .scenes_section_wrap .title_block_wrap.title_block_wrap_regular h2,
[lang="ar"] .ppcs_section .title_block_wrap.title_block_wrap_regular h2{
    font-weight: 400;
}
[lang="ar"] .form-input-sec .form-input-text h3{
    font-weight: 800;
}
[lang="ar"] .scenes_section_wrap .title_block_wrap.title_block_wrap_regular h2{
    font-weight: 800;
}
[lang="ar"] .scenes_section_wrap .title_block_wrap.title_block_wrap_regular h2 span{
    font-weight: 400;
}

@media (min-width: 768px) {
    .form-group.listings.bs-3-fix .col-lg-4 {
        float: right;
    }
    .form-group.listings.bs-3-fix .col-lg-12 {
        float: right;
     }
}