.rest-drop-icons-1, .rest-drop-icons-3, .rest-drop-icons-5{
    justify-content: flex-start;
}
.rest-drop-icons-2, .rest-drop-icons-4, .rest-drop-icons-6, .rest-drop-icons-7{
    justify-content: flex-end;
}
.rest-drop-icons-2, .rest-drop-icons-7{
    margin-left: -45px;
    margin-right: 45px;
}
.rest-drop-icons-5{
    margin-right: -45px;
    margin-left: 0;
}
.rest-drop-icons-7{
    margin-top: 20px;
}

[lang='ar'] .pricing-sec .kd-1>span {
    display: flex;
}

.rest-drop-icons-8.rest-desktop{
    position: absolute !important;
    bottom: -175px;
    right: 36%;
    left: unset;
    margin: 0 !important;
}
#product_detail_slick .listing_crousal_inner h2{
    max-width: 130px;
}
#product_detail_slick.wrapper_crousal_slick .listing_crousal_inner{
    min-height: 300px;
    max-height: 300px;
}
.form_grp_pricing .span_over_input {
    right: unset;
    left: 20px;
}

.programs-row .banner_img_listing {
    min-height: 400px;
}
@media only screen and (max-width: 1199px) {
    .programs-row .banner_img_listing {
        min-height: 400px;
    }
}

@media only screen and (max-width: 992px) {
    .programs-row .banner_img_listing {
        min-height: 368px;
    }
}

.listing_crousal_inner, .listing_crousal_inner h2 {
    text-align: center;
}
.pricing-sec .kd-1:first-child {
    padding-left: 20px;
}
.kd-1 {
    border-left: 1px solid #1A56B1;
    border-right: unset;
}
.pay-text {
    margin-left: unset;
    margin-right: 10px;
}

.bg-custom {
    margin-left: unset;
    margin-right: -12px;
}
.bg-custom-2 {
    margin-left: -16px;
    margin-right: unset;
}
.btn.btn-listing {
    margin-right: 5px;
}
.main_singlie_hrm_2 {
    font-size: 55px;
    font-weight: 700;
    text-align: center;
    line-height: 60px;
}
.banner_img_listing {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
}
.card_imgbanner {
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


/* RTL DETAIL CASHBACK PAGE */

.listing_crousal_inner h2 {
    text-align: center;
}
.mleft-10 {
    margin-left: 10px;
}
.panel-group-details .accordion-toggle.collapsed:after, .panel-group-details .accordion-toggle:after {
    right: unset;
    left: 0px;
}
.float-unset {
    float: unset;
}

.back_btn_arrow_icon::before {
    margin-right: unset;
    margin-left: 5px;
    transform: rotateY(180deg);
}
.custom-dropdown::after {
    margin-right: 5px;
    margin-left: unset;
}
.custom-dropdown.dropdown-toggle {

    margin-right: 20px;
    margin-left: 0px;
}
.interest_section_inner h3 span, .form-input-text h3 span, .partner-list-heading h3 span {
    margin-right: unset;
    margin-left: 10px;
}

.pricing-sec .kd-1:last-child {
    border-left: 0px;
}
.rest_drop_icon_img{
    margin-top: 10px;
}

/* .rest-drop-icons-5 {
    margin-right: unset;
    margin-left: -45px;
} */
.listing_crousal_hover h2 {
    text-align: center;
}
.disclaimer_txt_notify p span {
    margin-left: 5px;
}
.wrapper_crousal_slick {
    direction: ltr;
}

.table_heading_detail.border-rad-right-ar {
    border-top-left-radius: 10px;
}

.border-rad-thead-ar {
    border-top-right-radius: 10px;
}


.data-bottom-rounded td:nth-last-child(1) {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 10px;
}

.data-bottom-rounded th {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: unset;
}

.pad_detail_ins th {
    border-left: 1px solid #D0D2D3;
}

@media only screen and (max-width: 991px) {
    .float-unset-mob {
        float: unset;
    }
    .ml-mob-0 {
        margin-left: 0px !important;
    }
    .arrow_down_single.active {
        bottom: -20px;
    }
}

@media only screen and (max-width: 767px) {
    .rest_drop_flex_col{
        justify-content: center;
    }
    .rest_drop_flex_col label.rest-drop-icons-6{
        padding-left: 10px !important;
    }
    .rest-drop-icons-7{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
    }
    .rest-drop-icons-2 {
        margin-right: -0px;
        margin-left: unset;
    }
    .rest-drop-icons-5 {
        margin-right: unset;
        margin-left: -0px;
    }
    .nav.nav-tabs.nav-tabs-partners {
        padding-left: unset;
        padding-right: 0px;
    }
    .nav-inline-width {
        padding-left: 0px;
    }

    .accordion-sec .accordion-toggle.accordion-listings {
        display: block;
        padding-left: 40px;
    }
    .absolute_footer_text span {
        margin: 7px 12px 7px 5px;
    }
    .bg-custom {
        margin-right: 0px;
    }
    .float-unset-mob {
        float: unset !important;
    }
    .ml-mob-0 {
        margin-left: 0px !important;
    }

    .rest_drop_flex_col label {
        padding-left: 10px !important;
        padding-right: 0px !important;
    }

}

.form_grp_pricing .span_over_input {
    left: 20px !important;
    right: unset !important;
}

.panel-body.terms-policy-body ul li {
    text-align: right;
    background-position: right 8px !important;
    padding: 0 8px 0 0;
}

.panel-body.terms-policy-body ul li a {
    float: right !important;
}
[lang='ar'] .added_featuers_slider .slick-prev{
    right: -42px;
    left: unset;
    /*transform: rotate(180deg);*/
}
[lang='ar'] .added_featuers_slider .slick-next{
    left: -42px !important;
    right: unset;
    /*transform: rotate(180deg);*/
}

@media (max-width: 500px) {
    .absolute_footer_text {
        float: right;
    }
}

[lang='ar'] .slick_detail_hrm.slick-float-right .slick-track {
    float: right;
}

@media(min-width:1200px) {
    .row.added_features_row .col-lg-4:nth-child(3n+4){
        clear: left;
    }
}

@media(min-width:991px) {
    .pad_detail_ins td:nth-child(4) {
        border-left: none;
    }
}