body{
    background-color: #ebebeb;
}
.box-one{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.text-blue{
    color: #548dbf
}
.btn-send{
    background-color: #eaeaea;
}